body{
	font-family: "Myriad Pro", "Myriad Pro Cond";
	font-size: 12px;
	font-weight: normal;
}
td.block{
	font-size: 24px;
	color: #FFFFFF;
	background-color: #666699;
	display: block;
}
pre{
	background-color:#eeeeee;
	display: block;
	border-style:solid;
	border-color:#000066;
	border-width:thin;
}
h1, h1 a{
	font-size: 16px;
	color: #FFFFFF;
	background-color: #666699;
	display: block;
}
h2, h2 a{
	font-size: 14px;
	color: #FFFFFF;
	background-color: #666699;
	display: block;
}
ul{
	list-style-image: url(/images/bullet.jpg);
}